@use '../abstracts/mixins';
@use '../abstracts/variables';

#formulario {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: variables.$background-color-dark;

    &__title {
        color: variables.$primary-color;
    }
}

.container_form {
    width: 100%;
    max-width: 900px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button, .btn {
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
        color: variables.$link-hover-color;
    }
}

.mapa {
    width: auto;
    height: auto;
}
