$primary-color: #007bff; // Encabezados, botones y elementos destacados
$secondary-color: #495057; // subtítulos u otros elementos de contraste
$background-color: #f8f9fa; // Fondo muy claro
$background-color-dark: #c8c9ca;
$text-color: #212529; // Gris oscuro para el texto principal
$link-color: #007bff; // Azul para enlaces
$link-hover-color: #0056b3; // Azul más oscuro para hover en enlaces
$accent-color: #3498db; 
$text-muted-color: #6c757d; 
$dark-color: #343a40; 
$text-light-color: #ffffff; // Color blanco para el texto

$font-family: 'Arial', sans-serif; // Fuente del sistema o Arial

